{{#each groupContentData as |contentData|}}
  <div class="cardGroup">
    {{#each contentData as |contentDataCount|}}
      <div class="card">
        <div class="cardGroupBody"  data-toggle="tooltip" data-html="true" data-placement="top" title="{{contentDataCount.name}}">
          <div class="{{contentDataCount.name}}">
            <i class="icon"></i>
          </div>
          <div class="countText">{{contentDataCount.count}}</div>
        </div>
      </div>
    {{/each}}
  </div>
{{/each}}
