<div class="col-md-12 headClass">
  <div class="col-md-4 partions"> </div>

  <div class="col-md-4 partions"> </div>

  <div class="col-md-4 partions"> </div>

  <div class="col-md-4 partions"> </div>


</div>
