<div class="panel panel-default no-results-found">
    <div class="panel-body">
        <div class="no-results-content">
            <div class="title">{{t "common.no-results"}}</div>
            <div class="icon">{{app-icon name="remove_circle_outline"}}</div>
            <span class="message">{{t "common.no-results-message"}}</span>
        </div>
    </div>
</div>
