<div class="headCircle">
  <div class=circle1>
    <div class="subcircle"></div> <span> 0 - 59</span> </div>

  <div class=circle2>
    <div class="subcircle"></div> <span> 60 - 69</span> </div>

  <div class=circle3>
    <div class="subcircle"></div> <span> 70 - 79</span> </div>

  <div class=circle4>
    <div class="subcircle"> </div> <span> 80 - 89</span> </div>

  <div class=circle5>
    <div class="subcircle"> </div> <span> 90 - 100</span> </div>

</div>


<div class="progress">
  <div class="progress-bar progress-bar-success" role="progressbar" style="width:40%">

  </div>
  <div class="progress-bar progress-bar-warning" role="progressbar" style="width:10%">

  </div>
  <div class="progress-bar progress-bar-danger" role="progressbar" style="width:20%">
    <!-- Danger -->
  </div>
</div>
