.learning-map-container {
  .pull-out-more-content {
    .content-section {
      .section-title {
        height: 30px;
        background-color: $white;
        border-bottom: dashed 2px #979797;
        font-size: 15px;
        font-weight: bold;
        text-transform: uppercase;
        margin: 20px 0 20px 10px;
      }

      .section-content {
        .no-results {
          width: 220px;
          border: 1px solid $light-200;
          margin: auto;
          padding: 30px;
          text-align: center;
          font-size: 16px;
          color: $dark-400;
        }
      }

      &.signatureAssessment,
      &.signatureCollection > .section-title {
        color: $sigature-content;
      }
    }
  }
}
