.learner.independent-course-card {
  width: 220px;
  height: 245px;
  float: left;
  margin: 0 13px 30px;

  .panel {
    cursor: pointer;
    .panel-heading {
      padding: 0;

      .title {
        padding: 6px 8px;
        border-top-right-radius: 4px;
        border-top-left-radius: 4px;
        color: $white;
        height: 40px;
        $lines-to-show: 2;
        $font-size: 13px;
        $line-height: 1.3;
        font-weight: bold;
        @include ellipsis($font-size: $font-size, $line-height: $line-height, $lines-to-show: $lines-to-show);
        max-height: 40px;
        width: 180px;
        float: left;
      }

      .card-heading {
        background-color: transparent;
        height: 131px;
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;

        &::after {
          display: block;
          position: absolute;
          z-index: 9;
          background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #000 100%);
          margin-top: 52px;
          height: 60%;
          width: 100%;
          content: "";
        }

        .current-activity {
          position: absolute;
          bottom: 0;
          z-index: 99;

          .title {
            border-bottom: none;
            padding-top: 0;

            a {
              color: $white;
              $font-size: 13px;
              $line-height: 1.3;
              $lines-to-show: 2;
              font-weight: bold;
              @include ellipsis($font-size: $font-size, $line-height: $line-height, $lines-to-show: $lines-to-show);
            }
          }
        }
      }
    }

    .panel-body {
      height: 25px;
      padding: 0;
      vertical-align: middle;
      display: flex;

      .items-icon {
        width: 42%;
        display: flex;

        span {
          display: flex;
          font-size: 12px;
        }
      }

      i.assessment,
      i.collection {
        background-size: 13px 12px;
        display: block;
        width: 13px;
        height: 12px;
        margin: 5px 3px 5px 8px;
      }

      i.collection {
        background-image: url("images/independance-course-collection.svg");
      }

      i.assessment {
        background-image: url("images/indepentance-course-assessment.svg");
      }

      i.bookmark {
        width: 8px;
        height: 10px;
        margin: 5px 3px 5px 8px;
        object-fit: contain;
        background-image: url("images/indepentent-course-bookmark.svg");
      }

      i.bookmark-remove {
        width: 10px;
        height: 10px;
        margin: 5px 3px 5px 8px;
        object-fit: contain;
        background-image: url("images/indepentent-course-remove.svg");
      }

      .bookmark-icon > i {
        height: 10px;
        width: 8px;
        font-size: 14px;
      }

      .timestamp {
        width: 58%;
        font-size: 11px;
        margin-right: 4px;
        font-weight: bold;

        .time {
          margin-left: 7px;
        }
      }
    }

    .panel-footer {
      background-color: $white;
      // display: flex;
      height: 93px;
      padding: 0;

      .first-half {
        height: 93px;
        box-shadow: 1px 1px 6px 0 rgba(0, 0, 0, 0.5);
        border-bottom-left-radius: 4px;

        span {
          i.lesson {
            width: 39px;
            height: 39px;
            object-fit: contain;
            opacity: 0.5;
            background: url("images/indepentance-course-lesson.svg") no-repeat;
            background-size: 40px 38px;
          }

          i.course-default {
            width: 39px;
            height: 39px;
            object-fit: contain;
            opacity: 0.5;
            background: url("images/independance-course-icon.svg") no-repeat;
            background-size: 40px 38px;
          }

          i {
            margin: 12px 0 0 8px;
            object-fit: contain;
            display: block;
          }
        }

        .top-part {
          display: flex;

          .performance {
            width: calc(100% - 59px);
            text-align: left;
            margin-left: 25px;

            .percentage {
              font-size: 25px;
              font-weight: bold;
              color: $white;
            }

            .performance-text {
              color: $white;
              font-size: 10px;
              font-weight: bold;
              text-transform: uppercase;
              margin-top: -9px;
            }
          }
        }

        .completion-bar {
          height: 27px;
          padding: 0 11px;
          margin-top: 10px;

          .charts.gcm-x-bar-chart {
            border-radius: 4px;
            height: 7px;
          }

          .completion-text {
            color: $white;
            font-size: 10px;
            font-weight: bold;
            text-align: center;
          }
        }
      }
    }
  }
}
