<div {{action "onClickExploreButton" routeTo}}>
  <div class="explore-icon pull-left">
    {{app-icon name="ic_explore"}}
  </div>
  <div class="explore-title pull-left">
    <span>{{t 'common.explore'}}</span>
  </div>
</div>
