.journeys {
  width: 100%;
  height: auto;
  display: inline-block;
  background: white;

  .app-panel-box {
    padding: 0;

    .panel-header {
      width: 100%;
      height: 50px;
      display: inline-block;
      padding: 20px 20px 20px 30px;

      .panel-back-arrow {
        i {
          margin-top: 0;
        }
      }

      .panel-title {
        span {
          font-size: 20px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: left;
          color: #4a4a4a;
        }
      }
    }
  }
  .idIsNull {
    display: inline-block;
  }
}
