<div id="competencies-chart"></div>
<div class="competencies-chart-footer">
<div class="competencies-in-progress">
  <div class="in-progress">
  <svg width="70" height="60">
    <g transform="translate(30, 30)rotate(180)">
      <path fill="#1C9EEE" d="M1.1338933884173714,-29.978563771196637A30,30 0 0,1 8.96167678984044,-28.630199948907713L6.617433226818224,-22.027473243397715A23,23 0 0,0 1.1338933884173683,-22.97203268724175Z"></path>
      <path fill="#1C9EEE" d="M11.098765191274783,-27.87144436926345A30,20 0 0,1 18.024278075907784,-23.981772241482698L13.606000502506996,-18.543914104788648A23,23 0 0,0 8.754521628252572,-21.26871766375345Z"></path>
      <path fill="#1C9EEE" d="M19.784336317130503,-22.551719147122043A30,30 0 0,1 25.009308501830894,-16.569082299881572L19.026270282558475,-12.922888188599025A23,23 0 0,0 15.366058743729717,-17.113861010427996Z"></path>
      <path fill="#1C9EEE" d="M26.189463230648837,-14.632566954929425A30,30 0 0,1 29.111637586987857,-7.246554836877713L22.253474434694045,-5.812303810402421A23,23 0 0,0 20.206425011376417,-10.986372843646874Z"></path>
      <path fill="#1C9EEE" d="M29.57585810831699,-5.026789945551741A30,30 0 0,1 29.85840981227545,2.911247753492166L22.91562883405851,1.9682365558200265A23,23 0 0,0 22.71769495602318,-3.59253891907645Z"></path>
      <path fill="#1C9EEE" d="M29.55318768468291,5.158400689545781A30,30 0 0,1 27.163548375733075,12.733484976203847L20.93641016388753,9.521907868146329A23,23 0 0,0 22.61040670646597,4.2153894918736405Z"></path>
      <path fill="#1C9EEE" d="M26.12406506920545,14.749007568644055A30,30 0 0,1 21.33767684681012,21.087995323906522L16.54395333297931,15.97803517696099A23,23 0 0,0 19.896926857359905,11.537430460586535Z"></path>
      <path fill="#1C9EEE" d="M19.683748545837755,22.63956808740463A30,30 0 0,1 13.05231509845022,27.011795026816866L10.244555474450884,20.592452091261457A23,23 0 0,0 14.890025032006942,17.529607940459098Z"></path>
      <path fill="#1C9EEE" d="M10.9745820732507,27.920575716082297A30,30 0 0,1 3.2624764777429625,29.8220765077178L2.7643175379334677,22.833277218775965A23,23 0 0,0 8.16682244925137,21.501232780526884Z"></path>
      <path fill="#1C9EEE" d="M0.19061314150240402,29.999394437726348A30,30 0 0,1 -1.1338933884173952,-29.978563771196633L-1.1338933884174018,-22.972032687241747A23,23 0 0,0 -0.11868957552315701,22.99969375414947Z"></path>
      </g>
    <g>
      <text width="40" x="30" y="40" class="count">{{inProgressCount}}</text>
    </g>
  </svg>
</div>
  <div class="title">{{t 'common.in-progress'}}</div>
</div>

<div class="competencies-mastery">
  <div class="mastered">
  <svg width="60" height="60" viewPort="0 0 50 50" version="1.1" xmlns="http://www.w3.org/2000/svg">
    <circle r="26" cx="30" cy="30" fill="transparent"></circle>
    <text width="40" x="30" y="42" class="count">{{masteredCount}}</text>
  </svg>
 </div>
  <div class="title">{{t 'common.mastered'}}</div>
</div>
</div>
