.courses-independent-journeys-chart {
  width: 260px;
  height: 260px;
  .title {
    color: $white;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 18px;
    width: 125px;
  }
}
