.activities-distribution-by-subjects {
  margin-bottom: 50px;

  .subject-wise-distribution {

    .subject-chart {
      float: left;
      width: 50%;
      list-style: none;
      text-align: center;

      .double-layer-donut-chart {
        display: grid;
        height: 280px;
        margin-top: -30px;
      }

      .title {
        font-size: 18px;
        color: $dark-800;
        height: 60px;
      }

      .total-count {
        font-size: 30px;
        color: $dark-800;
        font-weight: 300;
      }
    }
    .subject-name {
      font-size: 20px;
      margin-top: 15px;
    }
  }

  ul.subject-wise-distribution-legend {
    height: 25px;
    li {
      float: left;
      width: 144px;
      list-style: none;
      text-align: center;
      height: 25px;

      .legend-container {
        width: 115px;
        height: 26px;
        margin: 0 auto;

        .title {
          float: left;
          font-size: 15px;
          color: $dark-800;
          text-transform: capitalize;
        }

        .legend-icon {
          width: 18px;
          border-radius: 50%;
          height: 18px;
          display: block;
          float: left;
          margin-top: 5px;
          margin-right: 10px;
        }
      }
    }
  }
}
